<span></span>
<% resp.forEach(blog => { %>
 <% if (blog.id===id) { %>
    <h1>
        <%= blog.title %>
    </h1>
    <img src="/upload/<%= blog.img %>" alt="<%= blog.title %>" />
    <p>
        <%= blog.des %>
    </p>
    <a href="/blog">
        <button id="delete" data-test="<%= blog.id %>" style="background-color: #00f;color: #fff;cursor: pointer; padding: 0.75rem; outline: none; border: none;">Delete</button>
    </a>
      
 <% } %>
<% }) %>
<a href="/blog">Blogs</a>
<a href="/blog/createblog">Create Blog</a>
<a href="/users/logout">Log out</a>
